body {
	height: 100%;
	width: 100%;
	background-color: #fbd786;
	background-image: linear-gradient(to bottom right, #c6ffdd, #fbd786);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: table-cell;
	vertical-align: middle;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.sidebar {
	display: block;
	overflow: hidden;
	border: 1px solid gray;
	width: 200px;
	position: fixed;
	z-index: 1;
	background: #eee;
	overflow-x: hidden;
	padding: 8px 0;
	margin-right: 5px;
	height: auto;
	top: 50%;
	margin-top: -100px;
	margin-left: 30px;
}

#container {
	min-height: 200px;
	_height: 200px;
}

.sidebar p,
h3 {
	text-align: center;
}

.sidebar img {
	text-align: center;
	border: 1px solid red;
	width: 100%;
	height: auto;
}

.main-display {
	display: relative;
	border: 1px solid green;
	width: 50%;
	max-width: 50%;
	z-index: 1;
	top: 20px;
	left: 10px;
	background: #eee;
	overflow-x: hidden;
	padding: 8px 0;
	margin: auto;
	margin-top: 30px;
	height: 500px;
}

.main-display img {
	text-align: center;
	border: 1px solid red;
	width: 100%;
	height: auto;
}

.navbar {
	display: inline;
	float: left;
	margin: auto;
}

.center {
	height: 10em;
	position: relative;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.bordered {
	border: 1px solid black;
}

.p-2 {
	background: white;
}
