body {
	background-color: black;
	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url("assets/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	height: 100%;
}

.nav-item {
	color: #c0c0c0; /* navbar text color*/
}

.nav-item img {
	margin: 2px 20px;
}

.navbar.fixed-bottom {
	background-color: black;
	height: 25px;
	font-size: 11px;
	border-top: 1px solid #272727;
}

.card {
	width: 50rem;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

div.card.card-block {
	width: 100%;
	border: 1px solid yellow;
}

.arrow img {
	min-height: 5%;
	max-height: 5%;
	display: flex;
	align-items: center;
	height: 5%;
}

.main-display {
	border-radius: 5px;
	padding: 10px;
	max-width: 800px;
}

.main-display .content {
	border-radius: 5px;
	border: 1px solid red;
	background: white;
	height: 300px;
	width: 100%;
	padding: 5px;
}

.dot-nav {
	border: 1px solid white;
	text-align: center;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}
