body {
	background-color: black;
	background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .7)), url("assets/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

.nav-item {
	color: #c0c0c0; /* navbar text color*/
}

.nav-item img {
	margin: 2px 20px;
}

.navbar.fixed-bottom {
	background-color: black;
	height: 25px;
	font-size: 11px;
	border-top: 1px solid #474747;
}
